.shopcategory-banner {
    background-size: cover;
    background-position: center;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.shopcategory-filters {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    justify-content: center;
}

.shopcategory-filters input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    font-size: 14px;
}

.shopcategory-filters button {
    padding: 10px 15px;
    border: none;
    background-color: #007bff;
    color: white;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
}

.shopcategory-filters button:hover {
    background-color: #0056b3;
}

/* .shopcategory-products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
} */

.shopcategory-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
}

.shopcategory-pagination button {
    padding: 10px 15px;
    border: none;
    background-color: #007bff;
    color: white;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
}

.shopcategory-pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
